/* style.css */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
}

li {
  list-style: none;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ul li {
  margin-bottom: 10px;
  text-align: center;
}

ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: background-color 0.8s ease;
}

ul li a:hover {
  background-color: #FFA500;
}

.parent {
  text-align: center;
  margin-top: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  margin: 20px auto;
  width: 40%;
}

th, td {
  padding: 8px 12px;
  text-align: left;
}

nav {
  position: relative;
}

.menu-icon {
  width: 30px;
  height: 25px;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  position: fixed;
  top: 10px;
  left: 5px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #FFA500;
  margin: 4px 0;
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: orangered;
  position: fixed;
  left: -100%;
  width: 225px;
  height: 100vh;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
  transition: right 0.3s ease;
}

.menu-items.show-menu {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-items li {
  margin: 0;
  width: 100%;
}

.menu-items li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
  width: calc(100% - 20px);
}

.menu-items li a:hover {
  background-color: #FFA500;
}

.close-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  color: #FFA500;
  width: 30px;
  height: 25px;
  margin: 10px;
  padding: 5px;
  position: fixed;
  top: 10px;
  left: 5px;
}

.show-close .close-icon {
  display: block;
}

@media screen and (max-width: 768px) {
  /* スマートフォン向けのスタイル調整 */
  body {
    font-size: 15px; /* 文字サイズを調整 */
  }

  h1{
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
  }

  .parent {
    text-align: center;
    margin-top: 20px;
    max-width: 73%;
    margin-left: auto;
    margin-right: auto;
  }


  .menu-icon {
    display: block;
  }

  .menu-items {
    width: 100%;
    left: -100%;
    margin: 0;
    z-index: 1;
  }

  .menu-items.show-menu {
    left: 0;
  }

  .menu-items li {
    margin: 0;
  }
}
