/* General body styles */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
}

.slideshow {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;

}

.slideshow img {
  width: 100%;
  display: none;
  transition: opacity 1s ease-in-out;

}

.slideshow img.active {
  display: block;
  opacity: 1;
}


/* Top navigation bar styles */
.top-nav {
  background-color: rgba(255, 255, 255, 0.9); /* ナビゲーションバーの背景色 */
  padding: 10px 0; /* 上下のパディング */
  position: fixed; /* 固定位置 */
  top: 0; /* 上端に配置 */
  width: 100%; /* 横幅を全体に広げる */
  z-index: 1000; /* 他の要素より前面に表示 */
}

/* ナビゲーションバーのリストスタイル */
.top-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* 中央に配置 */
}

.top-nav li {
  margin: 0 15px; /* リストアイテムの左右マージン */
}

/* ナビゲーションバーのリンクスタイル */
.top-nav a {
  color: black; /* テキスト色 */
  text-decoration: none; /* 下線を削除 */
  font-size: 1.2rem; /* フォントサイズ */
  padding: 10px 15px; /* パディング */
  display: inline-block; /* インラインブロックでサイズ調整 */
}

/* ナビゲーションバーのリンクホバー時のスタイル */
.top-nav a:hover {
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.5), rgba(255, 99, 71, 0.5)); /* グラデーション背景 */
  color: black; /* テキスト色（背景と同じにして視認性を保つ） */
  border-radius: 5px; /* 角を丸める */
}

h1 {
  margin-top: 100px;
}

/* Styles for the dates */
.dates {
  border: 0.5px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 100px;
  display: inline-block;
  margin: 10px;
  font-size: 4vw;
  background-color: #ffffff;
}

/* List item styles */
li {
  list-style: none;
  margin-bottom: 30px;
  padding: 0 10px;
}

/* Unordered list styles */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ul.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Menu item styles */
ul.menu button {
  width: 30vw;
  height: 18vh;
  margin: 16px;
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
  font-size: 4vw;
  border: 0 solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px 5px;
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.5), rgba(255, 99, 71, 0.5));
  text-decoration: none;
  color: black;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}

ul.menu button:hover {
  background-image: linear-gradient(to left, #afff9f, #c7fff0);
}



/* Image container styles */
.image-container {
  position: relative;
  text-align: center;
  max-width: 100%;
  margin: auto;
}

.image-container img {
  max-width: 100%;
  height: auto;
  filter: brightness(50%);
}

.image-container h1,
.image-container .theme {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.image-container h1 {
  top: 20%;
  font-size: 8vw;
}

.image-container .theme {
  top: 55%;
  text-align: center;
}

.image-container .theme h2 {
  font-size: 5.1vw;
  margin-top: 50px;
}

.image-container .theme p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* Heading styles */
h3 {
  margin-top: 20px;
}

/* Navigation styles */
nav {
  position: relative;
}

/*tableタグ*/
.table {
  display: grid;
  justify-content: center; /* 中央に配置 */
  margin: 20px 0; /* 上のマージンを追加 */
}

table {
  border-collapse: collapse; /* ボーダーの重なりを解消 */
  width: 80%; /* テーブルの幅を80%に設定 */
  margin: 0 auto; /* テーブルを中央に配置 */
  background-color: #ffffff; /* 背景色を設定 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* シャドウを追加 */
}

th, td {
  border: 1px solid #dddddd; /* ボーダーを追加 */
  text-align: center; /* テキストを中央に配置 */
  padding: 8px; /* パディングを追加 */
  font-size: 1rem;

}

.how-to-access {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 20px;
  align-items: center;
}
.how-to-access img {
  width: 50vw;
  height: auto;
}

.how-to-access p {
  font-size: 2vw;
  padding: 75px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.contact {
  font-size: 1.5vw;
}

.greeting p {
  font-size: 1.5vw;
}

.floor-map img{
  height: auto;
  width: 80%;
  margin-bottom: 100px;
}


.floor-list {
  display: flex;
  flex-direction: column; /* 縦に並べる */
  margin-top: 60px;
  width: 10%; /* 幅を固定値からパーセントに変更 */
  background-color: #f5f5f5;
  height: auto; /* 高さを指定 */
  padding: 20px;
  border-right: 1px solid #ddd;
  position: fixed;
  box-sizing: border-box; /* パディングを含める */
}

.floor-list h2 {
  font-size: 2vw; /* フォントサイズをvwで指定 */
  margin-bottom: 10px;
}

.floor-list ul {
  display: grid;
  list-style-type: none;
  padding: 0;
}

.floor-list ul li {
  margin: 30px 0;
}

.floor-list ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.5vw; /* フォントサイズをvwで指定 */
}

.floor-list ul li a:hover {
  color: #007bff;
}


.floor-map {
  flex-grow: 1;
  padding: 20px;
}

.highlight {
  outline: 3px solid red;
  transition: outline 0.3s ease;
}


/* Footer styles */
footer {
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.5), rgba(255, 99, 71, 0.5));
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: auto;
  font-size: 0.6rem;
}

/* Responsive styles */
@media screen and (max-width: 768px) {

  h1 {
    margin-top: 80px;
    font-size: 1rem;
  }
  /* ナビゲーションバー */
  .top-nav {
    padding: 5px 0; /* 上下のパディングを減らす */
  }

  .top-nav ul {
    flex-direction: row;
  }

  .top-nav li {
    margin: 5px 0; /* リストアイテムの上下マージンを調整 */
  }

  .top-nav a {
    font-size: 1.5vw; /* フォントサイズを小さく */
    padding: 8px 10px; /* パディングを調整 */
  }

  /* メニューアイテムボタン */
  ul.menu button {
    width: 30vw; /* 小さな画面ではボタンを少し広めに */
    height: 18vh; /* 高さも比例して調整 */
    font-size: 3.5vw; /* フォントサイズを少し小さく調整 */
  }
  .image-container h1 {
    font-size: 6vw; /* フォントサイズを調整 */
  }

  .image-container .theme h2 {
    font-size: 5vw; /* フォントサイズを調整 */
  }
}


/* Responsive styles for the image container and headings */
@media screen and (max-width: 480px) {
  .image-container h1 {
    font-size: 7vw; /* フォントサイズを調整 */
    top: 10%;
  }

  .image-container .theme h2 {
    font-size: 6vw; /* フォントサイズを調整 */
    top: 10%;
  }
  .image-container .theme {
    top: 40%;
  }

  .dates {
    font-size: 3vw; /* フォントサイズを調整 */
  }
  ul.menu button {
    width: 30vw; /* とても小さな画面では幅をほぼ全体に広げる */
    height: 18vh; /* 高さはそのまま */
    font-size: 3vw; /* フォントサイズをさらに調整 */
  }
  th, td {
    font-size: 0.8rem; /* フォントサイズを小さくする */
    padding: 4px; /* パディングを調整 */
  }

}
