/* General body styles */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
}

/* Top navigation bar styles */
.top-nav {
  background-color: #FFFFFF; /* ナビゲーションバーの背景色 */
  padding: 10px 0; /* 上下のパディング */
  position: fixed; /* 固定位置 */
  top: 0; /* 上端に配置 */
  width: 100%; /* 横幅を全体に広げる */
  z-index: 1000; /* 他の要素より前面に表示 */
}

/* ナビゲーションバーのリストスタイル */
.top-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* 中央に配置 */
}

.top-nav li {
  margin: 0 15px; /* リストアイテムの左右マージン */
}

/* ナビゲーションバーのリンクスタイル */
.top-nav a {
  color: black; /* テキスト色 */
  text-decoration: none; /* 下線を削除 */
  font-size: 1.2rem; /* フォントサイズ */
  padding: 10px 15px; /* パディング */
  display: inline-block; /* インラインブロックでサイズ調整 */
}

/* ナビゲーションバーのリンクホバー時のスタイル */
.top-nav a:hover {
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.5), rgba(255, 99, 71, 0.5)); /* グラデーション背景 */
  color: black; /* テキスト色（背景と同じにして視認性を保つ） */
  border-radius: 5px; /* 角を丸める */
}

/* Styles for the dates */
.dates {
  border: 0.5px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 100px;
  display: inline-block;
  margin: 10px;
  font-size: 4vw;
  background-color: #ffffff;
}

/* List item styles */
li {
  list-style: none;
  margin-bottom: 30px;
  padding: 0 10px;
}

/* Unordered list styles */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Menu styles */
ul.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Menu item styles */
ul.menu button {
  width: 30vw;
  height: 18vh;
  margin: 16px;
  flex: 1 1 calc(50% - 10px);
  box-sizing: border-box;
  font-size: 4vw;
  border: 0px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px 5px;
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.5), rgba(255, 99, 71, 0.5));
  text-decoration: none;
  color: white;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}

/* Menu item link styles */
ul.menu-items li a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: background-color 0.8s ease;
  font-size: 2vw;
}

/* Image container styles */
.image-container {
  position: relative;
  text-align: center;
  max-width: 100%;
  margin: auto;
}

.image-container img {
  max-width: 100%;
  height: auto;
  filter: brightness(50%);
}

.image-container h1,
.image-container .theme {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.image-container h1 {
  top: 20%;
  font-size: 8vw;
}

.image-container .theme {
  top: 40%;
  text-align: center;
}

.image-container .theme h2 {
  font-size: 5.1vw;
  margin-top: 50px;
}

.image-container .theme p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* Heading styles */
h3 {
  margin-top: 20px;
}

/* Navigation styles */
nav {
  position: relative;
}

/* Menu icon styles */
.menu-icon {
  width: 30px;
  height: 25px;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  position: fixed;
  top: 10px;
  left: 5px;
  z-index: 1000;
}

.bar {
  width: 100%;
  height: 4px;
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.9), rgba(255, 99, 71, 0.9));
  margin: 4px 0;
}

/* Menu items styles */
.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: white;
  position: fixed;
  left: -100%;
  width: 225px;
  height: 100vh;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
  transition: left 0.3s ease;
  z-index: 999;
}

.menu-items.show-menu {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-items li {
  margin: 0;
  width: 100%;
}

.menu-items li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
  width: calc(100% - 20px);
}

.menu-items li a:hover {
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.5), rgba(255, 99, 71, 0.5));
}

/* Close icon styles */
.close-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.9), rgba(255, 99, 71, 0.9));
  -webkit-background-clip: text;
  color: transparent;
  width: 30px;
  height: 25px;
  margin: 10px;
  padding: 5px;
  position: fixed;
  top: 10px;
  left: 5px;
}

.show-close .close-icon {
  display: block;
}

.show-close .menu-icon {
  display: none;
}

/* Iframe styles */
iframe {
  margin: auto;
}

/* Footer styles */
footer {
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.5), rgba(255, 99, 71, 0.5));
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* ナビゲーションバー */
  .top-nav {
    padding: 5px 0; /* 上下のパディングを減らす */
  }

  .top-nav ul {
    flex-direction: row; /* 縦並びにする */
  }

  .top-nav li {
    margin: 5px 0; /* リストアイテムの上下マージンを調整 */
  }

  .top-nav a {
    font-size: 1.5vw; /* フォントサイズを小さく */
    padding: 8px 10px; /* パディングを調整 */
  }

  /* メニューアイコン */
  .menu-icon {
    display: block; /* モバイルでは表示 */
  }

  /* メニューアイテム */
  .menu-items {
    width: 100%; /* 幅を100%に設定 */
    left: -100%;
    margin: 0;
    z-index: 1;
  }

  .menu-items.show-menu {
    left: 0;
  }

  /* メニューアイテムのリンク */
  .menu-items li a {
    font-size: 3vw; /* フォントサイズを調整 */
    padding: 12px 0; /* パディングを調整 */
  }

  /* メニューアイテムボタン */
  ul.menu button {
    flex: 1 1 100%; /* 幅を100%にする */
    font-size: 3vw; /* フォントサイズを調整 */
  }
}

/* Responsive styles for the image container and headings */
@media screen and (max-width: 480px) {
  .image-container h1 {
    font-size: 6vw; /* フォントサイズを調整 */
  }

  .image-container .theme h2 {
    font-size: 4vw; /* フォントサイズを調整 */
  }

  .dates {
    font-size: 3vw; /* フォントサイズを調整 */
  }
}
