body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden; /* 横スクロールを無効にする */
}

.classes {
  display: flex;
  flex-wrap: wrap; /* 要素が画面幅に収まるように折り返し */
  justify-content: center; /* 要素を中央揃え */
  gap: 2vw; /* 各コンテナ間のスペース */
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 2vw;
  box-sizing: border-box;
  flex: 1;
}

.banner-title {
  width: 100%;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 1cm;
}

.banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-placeholder img {
  width: 100%;
  max-width: 80%; /* コンテナの幅に収める */
  max-height: 80%; /* コンテナの高さに収める */
  object-fit: contain;
  border: 1px solid black;
}

.appeal-points,
.project-description {
  width: 100%;
  max-width: 60vw; /* 最大幅を60vwに設定 */
  margin-top: 1cm;
  border: 1px solid #000;
  padding: 2vw;
  box-sizing: border-box;
}

h2 {
  font-size: 3vw;
}

p {
  font-size: 2vw;
}

.vertical-line {
  width: 1px;
  background-color: lightgray;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10vw;
}
