body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.classes {
    display: flex;
}

.container {
    flex-grow: 1;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.banner-title {
    width: 100%; /* 幅を100%に変更 */
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    margin-bottom: 1cm;
}

.banner-container {
    width: 100%; /* 幅を100%に変更 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-placeholder img {
    max-width: 80%; /* コンテナの幅に収める */
    max-height: 80%; /* コンテナの高さに収める */
    object-fit: contain;
    border: 1px solid black;
}

.appeal-points {
    width: 80%; /* 幅を100%に変更 */
    margin-top: 1cm;
    border: 1px solid #000;
    padding: 0.5cm;
}

.project-description {
    width: 80%; /* 幅を100%に変更 */
    margin-top: 1cm;
    margin-bottom: 10px;
    min-height: 5cm;
    border: 1px solid #000;
    padding: 0.5cm;
    box-sizing: border-box; /* パディングを含む幅計算 */
}

.vertical-line {
    width: 1px; /* 線の太さ */
    background-color: lightgray; /* 線の色 */
    height: auto; /* 自動調整 */
    margin-bottom: 10px; /* 線の左右のスペース */
    margin-top: 100px;
}
