/* Notes.css */

/* グローバル設定 */
body {
    background-color: #ffffff;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.table-of-contents {
  position: fixed;
  margin-top: 100px ;
  left: 20px;
  min-width: 200px;
  width: auto;
  background: linear-gradient(135deg, rgba(255, 165, 0, 0.5), rgba(255, 99, 71, 0.5));
  padding: 10px;
  border-right: 1px solid #ccc;
  height: auto;
  overflow-y: auto;
}

.table-of-contents h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.table-of-contents ul {
  list-style: none;
  padding: 0;
  display: grid;
}

.table-of-contents li {
  margin-bottom: 20px;
}

.table-of-contents a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.table-of-contents a:hover {
  color: rgba(0, 0, 0, 0.4);
}

/* 注意事項セクション */

.notice h1 {

    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.notice-item {
    margin-bottom: 100px;
}

.notice-item h2 {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 10px;
}

.notice-item p {
    margin: 5px 0;
    color: #000000;
    line-height: 1.5;
}

/* フッター */
footer {
    background-color: #f8c291; /* フッターの背景色 */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .menu-items {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    .menu-items li {
        padding: 10px 0;
    }
    .menu-items.show-menu {
        display: flex;
    }
    .close-icon {
        display: block;
    }

    .notice {
      font-size: 2vw;
    }
}
