/* Notes.css */

/* グローバル設定 */
body {
    background-color: #ffffff;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* ナビゲーションメニュー */



.close-icon {
    display: none;
}

/* 注意事項セクション */

.notice h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.notice-item {
    margin-bottom: 20px;
}

.notice-item h2 {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 10px;
}

.notice-item p {
    margin: 5px 0;
    color: #000000;
    line-height: 1.5;
}

/* フッター */
footer {
    background-color: #f8c291; /* フッターの背景色 */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .menu-items {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    .menu-items li {
        padding: 10px 0;
    }
    .menu-items.show-menu {
        display: flex;
    }
    .close-icon {
        display: block;
    }

    .notice {
      font-size: 2vw;
    }
}
